body{
}
#wrapper{
	padding:10px 4%;
}
#wrapper h1,h2,h3{
	text-align:center;
}
#wrapper p{
	font-weight:bold;
}
.code{
	height:100%;
	max-height:400px;
	width:90%;
	overflow:scroll;
}
.code xml{
	float:left;
	text-align:left;
}
img{
	max-width: 100%;
}