body{
}
#wrapper{
	padding:10px 4%;
	background-color:#f6f6f6;
}
#wrapper h1,h2,h3,a,li{
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
}
#wrapper h1{
	text-align:center;
}
#wrapper p{
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
}
.btn{
	margin:25px auto;
	padding:10px 3%;
	width:20%;
	text-align:center;
	border-radius:5px;
	background-color:#00723f;
	display:block;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease;  
    transition:all 0.5s ease-i;
}
.btn:hover{
	opacity:0.7;
	-webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease;  
    transition:all 0.5s ease-i;
}
a .btn{
	color:white;
}
.retourHaut{
	width:8%;
}
.green{
	font-weight:bold;
	color:#00723f;
}
.listeEtape{
	width:54%;
	margin:40px auto;
	border:1px solid black;
	padding:10px 3%;
	text-align:center;
}
.listeEtape a{
	color:black;
	position:relative;
	top:0px;
	-webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease;  
    transition:all 0.3s ease-i;
}
.listeEtape a:hover{
	position:relative;
	top:-3px;
	opacity:0.7;
	-webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease;  
    transition:all 0.3s ease-i;
}
.listeEtape li{
	display:inline-block;
	margin:0 10px;
}
.code{
	height:100%;
	max-height:400px;
	width:90%;
	overflow:scroll;
	border:1px solid black;
	padding-left:10px;
}
.code xml{
	float:left;
	text-align:left;
}
img{
	margin:30px 0;
	max-width: 100%;
}